@font-face {
	src: url("../../assets/fonts/AvertaDemoPECuttedDemo-Regular.otf");
	font-family: Averta;
}
.header_top {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	align-content: center;
	padding-right: 10%;
	color: #ffffff;
	background-color: #2b334a;
	height: 45px;
}
.header_top h5 {
	align-self: center;
}

.header_top img {
	display: flex;
	height: 38%;
	align-self: center;
	justify-self: center;
	margin-right: 5px;
	margin-top: 5px;
}

.header_top h5:hover {
	color: #f59802;
	cursor: pointer;
  transition: all 0.5s ease-out;
}

.header_permanent {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(236, 236, 236);
	background-color: rgb(247, 249, 250);
	height: 80px;
	/* position: -webkit-sticky; */
	position: sticky;
	top: 0px;
	margin: 0;
}

.scrolled {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.nextbee_logo {
	display: inherit;
	margin-left: 10%;
}

.nextbee_logo:hover {
	cursor: pointer;
}
.nextbee_logo img {
	display: inherit;
	height: 75%;
	padding-top: 5px;
	margin-top: 5px;
	align-self: center;
}
.next {
	color: #7c9d19;
	align-self: center;
}
.bee {
	color: #fa9a00;
}

.g2_icon {
	height: 35px;
	/* width: 130px; container-width */
	overflow: hidden; /* hide bounds of image */
	margin: 0px; /*reset margin of figure tag */
	/* padding-top: 5px; */
	margin-right: 7px;
}
.g2_icon img {
	display: block;
	/* margin: -3%; */
	height: 100%;
	width: auto;
	/* width: 105%; */
	border-radius: 5px;
	/* border: 1px dashed #ef4d35; */
}

.capterra_icon {
	height: 35px;
	/* max-width: 120px; container-width */
	overflow: hidden; /* hide bounds of image */
	margin: 0px; /*reset margin of figure tag */
	margin-right: 7px;
}
.capterra_icon img {
	display: block;
	width: auto;
	height: 100%;
	border-radius: 5px;
	/* border: 1.5px solid #0f3670; */
}
.header_images {
	display: inherit;
	align-items: center;
	margin-right: 10%;
}
