.cookieCircle {
  width: 54px;
  height: 54px;
	position: fixed;
	bottom: 12%;
	left: 2%;
	background-image: url("../../assets/cookies-img.png");
  background-size: cover;
  background-position:center;
	object-fit: cover;
  border-radius: 50%;
  border: 14px solid rgb(43, 51, 74);
  z-index: 95;
  margin: 0;
  padding: 0;
}

.cookieSideBar {
  display: inline-flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 12px;
  width: 160px;
  height: 35px;
  position: fixed;
	bottom: 13.3%;
	left: 4%;
  color: #ffffff;
  font-family: Averta;
  font-size: 13px;
  background-color: rgb(43, 51, 74);
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}